h2 {
  font-size: 1.0em;
  font-weight: 400;
  line-height: 1.8;
  margin:0;
}
.outline-2{
  margin-left: 1.0em;
  margin-bottom: 1em;
}
.outline-text-2 p {
  margin-left: 1em;
  font-size: 0.8em;
  display: inline;
}

.timestamp-kwd {
  display: ;
}


.outline-2 h2:before {
  content: '- ';
}

span.done, span.todo {display: none;}
